* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 25px;
    background-color: #e6b6c8;
}

.todo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.kitty{
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.add-item input {
    height: 25px;
    width: 200px;
}

.add-item-btn{
    height: 30px;
    width: 50px;
    border: 2px solid #0057b7;
    background-color: #ffd700;
    color: #0057b7;
}

.add-item-btn:active {
    border: 2px solid #000000;
    background-color: #b40505;
    color: #000000;
}

.todo-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 500px;
    
}

.todo-list-item{
    display: flex;
    width: fit-content;
    align-items: center;
}

.todo-list-item h1{
    margin: 10px;
    font-size: 1.5em;
    font-weight:lighter;
}

.todo-list-item button {
    color: #fff;
    border: 0;
    background-color: #ff0000;
    border-radius: 5%;
    width: 50px;
    height: 30px;
    margin: 5px;
    font-size: 1em;
}

.todo-list-item button:active {
   border: 2px solid #000;
}

.todo-list-item img {
    object-fit: contain;
    height: 40px;
    width: 40px;
}
